﻿<style>
div.cpw-forms-mdf-responce
{
	width: 930px;
	margin: 0px auto;
}
div.cpw-forms-mdf-responce div
{
	display: inline-block;
	*display: inline;
	zoom: 1;
}
div.cpw-forms-mdf-responce div.row
{
	width: 100%;
	margin-bottom: 3px;
}
div.cpw-forms-mdf-responce div.section
{
	margin-top: 5px;
	text-align: left;
}
div.cpw-forms-mdf-responce div.field label
{
	text-align:right;
	vertical-align:top;
	display: inline-block;
	padding-right: 3px;
}
div.cpw-forms-mdf-responce div.field label:after
{
	content: ":";
}
div.cpw-forms-mdf-responce div.field input { width: 200px; }
div.cpw-forms-mdf-responce div.field textarea { width: 810px; }
div.cpw-forms-mdf-responce div.field.section input { width: 525px; }
div.cpw-forms-mdf-responce input[model_field_name="Дата_запроса"]{border:0;}
div.cpw-forms-mdf-responce input[model_field_name="Дата_ответа"],
div.cpw-forms-mdf-responce input[model_field_name="Документ_на_выдачу"]
{
	border: 0;
	font-weight: bold;
}
div.cpw-forms-mdf-responce div.answer
{
	width: 500px;
	margin: 0px auto;
	display: block;
}
div.cpw-forms-mdf-responce div.answer textarea
{
	width: 450px;
}
div.cpw-forms-mdf-responce div.answer label.checked
{
	text-decoration: underline;
	font-weight: bold;
}
div.cpw-forms-mdf-responce div.person
{
	display:inline-block;
	width:600px;
	vertical-align:top;
}
</style>
<div class="cpw-forms-mdf-responce">

	<div class="row title">
		<b>Справка о возможности выдать документ </b> от 
		<input type="text" style="width:100px;" readonly="readonly" value="<%= obj.txt('Дата_ответа') %>" />
		на запрос от 
		<input type="text" style="width:100px;" readonly="readonly" value="<%= obj.txt('Дата_запроса') %>" />
	</div>

	<div class="row section field">
		<label>Документ, который готовится к выдаче</label>
		<input type="text" readonly="readonly" value="<%= obj.txt('Документ_на_выдачу') %>" />
	</div>

	<div class="row section" >
		Лицо на которое готовится документ: 
		<div class="person">
		<% var person= !obj.model ? null : obj.model.Кому_выдать_документ; %>
		<% if (person && null!=person) { %>
			<b>
				<%= person.Фамилия %><% if (0) { %>Иванов<% } %> 
				<%= person.Имя %><% if (0) { %>Иван<% } %> 
				<%= person.Отчество %><% if (0) { %>Иванович<% } %> 
			</b>
			<% var pasport= person.Паспорт; %>
			<% if (pasport && null!=pasport) { %>
				(
					паспорт 
					серия <b><%= pasport.Серия %><% if (0) { %>4444<% } %></b> 
					номер <b><%= pasport.Номер %><% if (0) { %>666666<% } %></b>, 
					выдан <%= pasport.Дата_выдачи %><% if (0) { %>01.01.0001<% } %> 
					<%= pasport.Кем_выдан %><% if (0) { %>Ватиканским счятым престолом<% } %>, 
					адрес <%= person.Адрес %><% if (0) { %>Москва, Торфорезов 5-1<% } %> 
				)
			<% } %>
		<% } %>
		</div>
	</div>

	<div class="row section">
		<div class="answer">
			Резолюция:<br/>
			<input type="radio" id="cpw-form-mdf-responce-yes" <%= obj.radio_attrs('Резолюция','разрешить') %> />
			<label for="cpw-form-mdf-responce-yes">Разрешить (Не можем предоставить основания для отказа)</label>
			<br/>
			<input type="radio" id="cpw-form-mdf-responce-no" <%= obj.radio_attrs('Резолюция','отказать') %> />
			<label for="cpw-form-mdf-responce-no">НЕ разрешить (Не можем ответить разрешением)</label>
			<br/>
			Дополнительная информация:<br/>
			<textarea <%= obj.textarea_attrs('Дополнительная_информация') %> ><%= !obj.model ? '' : obj.model.Дополнительная_информация %></textarea>
		</div>
	</div>

</div>