﻿
		<% var person= obj; %>
		<% if (person && null!=person) { %>
			<b>
				<%= person.Фамилия %><% if (0) { %>Иванов<% } %> 
				<%= person.Имя %><% if (0) { %>Иван<% } %> 
				<%= person.Отчество %><% if (0) { %>Иванович<% } %> 
			</b>
			<% var pasport= person.Паспорт; %>
			<% if (pasport && null!=pasport) { %>
				(
					паспорт 
					серия <b><%= pasport.Серия %><% if (0) { %>4444<% } %></b> 
					номер <b><%= pasport.Номер %><% if (0) { %>666666<% } %></b>, 
					выдан <%= pasport.Дата_выдачи %><% if (0) { %>01.01.0001<% } %> 
					<%= pasport.Кем_выдан %><% if (0) { %>Ватиканским счятым престолом<% } %>, 
					адрес <%= person.Адрес %><% if (0) { %>Москва, Торфорезов 5-1<% } %> 
				)
			<% } %>
		<% } %>
