﻿<style>
div.cpw-forms-mdf-request
{
	width: 930px;
	margin: 0px auto;
}
div.cpw-forms-mdf-request div
{
	display: inline-block;
	*display: inline;
	zoom: 1;
}
div.cpw-forms-mdf-request div.row
{
	width: 100%;
	margin-bottom: 3px;
}
div.cpw-forms-mdf-request div.section
{
	margin-top: 5px;
	text-align: left;
}
div.cpw-forms-mdf-request div.field label
{
	width: 100px;
	text-align:right;
	vertical-align:top;
	display: inline-block;
	padding-right: 3px;
}
div.cpw-forms-mdf-request div.field.section label
{
	width: 395px;
}
div.cpw-forms-mdf-request div.field label:after
{
	content: ":";
}
div.cpw-forms-mdf-request div.field input { width: 200px; }
div.cpw-forms-mdf-request div.field textarea { width: 810px; }
div.cpw-forms-mdf-request div.field.section input { width: 525px; }
div.cpw-forms-mdf-request input[model_field_name="Дата_запроса"]
{
	border: 0;
}
</style>
<div class="cpw-forms-mdf-request">

	<div class="row title">
		<b>Запрос разрешения выдать документ </b> от 
		<input type="text" style="width:100px;" readonly="readonly" value="<%= obj.txt('Дата_запроса') %>" />
	</div>

	<div class="row section field">
		<label>Учреждение у которого запрашивается разрешение</label>
		<input type="text" readonly="readonly" value="<%= obj.txt('Учреждение_дающее_разрешение') %>" />
	</div>

	<div class="row section field">
		<label>Документ, который готовится к выдаче</label>
		<input type="text" value="<%= obj.txt('Документ_на_выдачу') %>" />
	</div>

	<div class="row section">
		Лицо на которое готовится документ:
	</div>

	<div class="row">
		<div class="field col1">
			<label>Фамилия</label>
			<input type="text" value="<%= obj.txt('Кому_выдать_документ.Фамилия') %>" />
		</div>
		<div class="field col2">
			<label>Имя</label>
			<input type="text" value="<%= obj.txt('Кому_выдать_документ.Имя') %>" />
		</div>
		<div class="field col3">
			<label>Отчество</label>
			<input type="text" value="<%= obj.txt('Кому_выдать_документ.Отчество') %>" />
		</div>
	</div>

	<div class="row section">
		Паспортные данные:
	</div>

	<div class="row">
		<div class="field col1">
			<label>серия</label>
			<input type="text" value="<%= obj.txt('Кому_выдать_документ.Паспорт.Серия') %>" />
		</div>
		<div class="field col2">
			<label>номер</label>
			<input type="text" value="<%= obj.txt('Кому_выдать_документ.Паспорт.Номер') %>" />
		</div>
		<div class="field col3">
			<label>дата выдачи</label>
			<input type="text" value="<%= obj.txt('Кому_выдать_документ.Паспорт.Дата_выдачи') %>" <%= obj.date_attrs() %> />
		</div>
	</div>

	<div class="row">
		<div class="field colall">
			<label>Выдан</label>
			<textarea <%= obj.textarea_attrs('Кому_выдать_документ.Паспорт.Кем_выдан') %> ><%= 
				(!obj.model || !obj.model.Кому_выдать_документ || !obj.model.Кому_выдать_документ.Паспорт) 
				? '' : obj.model.Кому_выдать_документ.Паспорт.Кем_выдан 
			%></textarea>
		</div>
	</div>

	<div class="row">
		<div class="field colall">
			<label>Адрес</label>
			<textarea <%= obj.textarea_attrs('Кому_выдать_документ.Адрес') %> ><%= 
				(!obj.model || !obj.model.Кому_выдать_документ) ? '' : obj.model.Кому_выдать_документ.Адрес 
			%></textarea>
		</div>
	</div>

</div>